button,
a.button {
  display: inline-block;
  color: var(--text-color);
  background: var(--accent1-400);
  border: 1px solid var(--accent1-400);
  border-radius: 2px;
  padding: .5rem 1rem;
  cursor: pointer;
}

button:hover,
a.button:hover {
  background: var(--accent1-300);
}

button:active,
a.button:active {
  background: var(--accent1-200);
}

button:disabled,
a.button:disabled {
  background: #999999;
  color: #000000;
  cursor: default;
}

button.large,
a.button.large {
  width: 80%;
  padding: 8px 12px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}
