:root {
  --button-text-color: var(--text-color);
  --button-background-color: var(--accent1-400);
  --button-hover-background-color: var(--accent1-300);
  --button-active-background-color: var(--accent1-200);
  --button-disabled-text-color: #000;
  --button-disabled-background-color: #999;
}

button,
a.button {
  display: inline-block;
  color: var(--button-text-color);
  font-weight: bold;
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 2px;
  padding: .5rem 1rem;
  cursor: pointer;
}

button:hover,
a.button:hover {
  background: var(--button-hover-background-color);
}

button:active,
a.button:active {
  background: var(--button-active-background-color);
}

button:disabled,
a.button:disabled {
  background: var(--button-disabled-background-color);
  color: var(--button-disabled-text-color);
  cursor: default;
}

button.large,
a.button.large {
  width: 80%;
}
