:root {
  --accent1-x-light: #ff33bb;
  --accent1-light: #ff00aa;
  --accent1-medium: #cc0088;
  --accent1-dark: #990066;
  --accent1-x-dark: #660044;
  --accent1-contrast: #ffffff;
  --accent2-x-light: #33bbff;
  --accent2-light: #00aaff;
  --accent2-medium: #0088cc;
  --accent2-dark: #006699;
  --accent2-x-dark: #002233;
  --accent2-contrast: #ffffff;
  --grey-medium: #999;
}

:root {
  --button-text-color: var(--accent1-contrast);
  --button-background-color: var(--accent1-medium);
  --button-hover-background-color: var(--accent1-dark);
  --button-active-background-color: var(--accent1-x-dark);
  --button-disabled-background-color: var(--grey-medium);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181c20;
    --text-color: #f8f9fa;
    --background-raised-color: #101418;
    --text-subtle-color: #c6c7c8;
    --input-background: #282c2e;
    --input-color: #f8f9fa;
    --input-active-background: #363a3d;
    --input-disabled-background: #141617;
  }
}

body.dark {
  --background-color: #181c20;
  --text-color: #f8f9fa;
  --background-raised-color: #101418;
  --text-subtle-color: #c6c7c8;
  --input-background: #282c2e;
  --input-color: #f8f9fa;
  --input-active-background: #363a3d;
  --input-disabled-background: #141617;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f8f9fa;
    --text-color: #181c20;
    --background-raised-color: #f0f1f2;
    --text-subtle-color: #393837;
    --input-background: #e6e6e6;
    --input-color: #181c20;
    --input-active-background: #f0f0f0;
    --input-disabled-background: #cccccc;
  }
}

body.light {
  --background-color: #f8f9fa;
  --text-color: #181c20;
  --background-raised-color: #f0f1f2;
  --text-subtle-color: #393837;
  --input-background: #e6e6e6;
  --input-color: #181c20;
  --input-active-background: #f0f0f0;
  --input-disabled-background: #cccccc;
}

body {
  background: var(--background-raised-color);
  color: var(--text-color);
}

main {
  background: var(--background-color);
}

* {
  transition: all 200ms ease;
  transition-property: background, color;
}

*:focus {
  outline: 2px solid var(--accent1-medium);
}

input:focus, select:focus, textarea:focus, button:focus, a.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--accent1-medium);
}
