:root {
  --input-background: #222;
  --input-color: #fff;
  --input-active-background: #333;
  --input-disabled-background: #000;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

form.horizontal-form .form-group {
  flex-direction: row;
}

.form-group > label {
  padding: 0 4px;
  margin-bottom: 4px;
}

form.horizontal-form .form-group > label {
  min-width: 200px;
  width: 16.67%;
  padding: .5rem 1rem;
  margin: 0;
  text-align: right;
}

form .form-group > .static-value {
  padding: .5rem 0;
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input-group > input,
.input-group > select,
.input-group > textarea {
  flex: 1;
}

.input-group-addon {
  background: var(--input-background);
  padding: .5rem 1rem;
  user-select: none;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  background: var(--input-background);
  color: var(--input-color);
  font: inherit;
  line-height: inherit;
  width: 100%;
  padding: .5rem 1rem;
  border: none;
  border-radius: 2px;
}

input:focus,
select:focus
textarea:focus {
  background: var(--input-active-background);
}

input:disabled,
select:disabled,
textarea:disabled {
  background: var(--input-disabled-background);
}
