.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group > label,
.form-group > .label {
  margin-bottom: 4px;
}

@media(min-width:768px) {
  .horizontal-form .form-group,
  .form-group.horizontal {
    flex-direction: row;

    > label,
    > .label {
      min-width: 200px;
      width: 16.67%;
      padding: .5rem 1rem;
      margin: 0;
      text-align: right;
    }
  }
}


.form-group > .static-value,
.form-group > .input {
  padding: .5rem 0;
}

.form-group .input-addon {
  margin-left: .5rem;
  padding: .5rem 0;
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
}

textarea {
  resize: vertical;
}

.input-group > input,
.input-group > select,
.input-group > textarea {
  flex: 1;
}

.input-group-addon {
  background: var(--input-background);
  padding: .5rem 1rem;
  user-select: none;
}

.button-group {
  text-align: right;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  background: var(--input-background);
  color: var(--input-color);
  font: inherit;
  line-height: inherit;
  width: 100%;
  padding: .5rem 1rem;
  border: none;
  border-radius: 2px;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus
textarea:focus {
  background: var(--input-active-background);
}

input:not([type="checkbox"]):not([type="radio"]):disabled,
select:disabled,
textarea:disabled,
input:not([type="checkbox"]):not([type="radio"])[readonly],
select[readonly],
textarea[readonly] {
  background: var(--input-disabled-background);
}
