/*
    Headings: h1-h6
    Paragraphs: p
    Bold: strong
    Italic: em
    Block quotes: blockquote
    Lists: ul/ol, li
    Code block: pre
    Table: table, tr, td
    Images: img
    Horizontal rule: hr
    Links: a
    HTML: ???
*/

@media (prefers-color-scheme: dark) {
  .markdown-content {
    --markdown-font: inherit;
    --markdown-monospace-font: inherit;
    --md-color-subtle: hsla(220, 30%, 90%);
    --md-background-subtle: #191919;
    --md-border-subtle: hsla(220, 30%, 60%);
    --md-code-background: hsl(0, 0%, 12%);
    --md-code-border: hsl(0, 0%, 12%);
  }
}

body.dark .markdown-content {
  --markdown-font: inherit;
  --markdown-monospace-font: inherit;
  --md-color-subtle: hsla(220, 30%, 90%);
  --md-background-subtle: #191919;
  --md-border-subtle: hsla(220, 30%, 60%);
  --md-code-background: hsl(0, 0%, 12%);
  --md-code-border: hsl(0, 0%, 12%);
}

@media (prefers-color-scheme: light) {
  .markdown-content {
    --markdown-font: inherit;
    --markdown-monospace-font: inherit;
    --md-color-subtle: hsla(220, 30%, 90%);
    --md-background-subtle: #e6e6e6;
    --md-border-subtle: hsla(220, 30%, 60%);
    --md-code-background: hsl(0, 0%, 12%);
    --md-code-border: hsl(0, 0%, 12%);
  }
}

body.light .markdown-content {
  --markdown-font: inherit;
  --markdown-monospace-font: inherit;
  --md-color-subtle: hsla(220, 30%, 90%);
  --md-background-subtle: #e6e6e6;
  --md-border-subtle: hsla(220, 30%, 60%);
  --md-code-background: hsl(0, 0%, 12%);
  --md-code-border: hsl(0, 0%, 12%);
}

.markdown-content {
  /* DEFAULT VALUES */
  h1, h2, h3, h4, h5, h6, p, hr,
  table, ul, ol, blockquote, pre {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
  /* TEXT BLOCKS */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.25em;
    margin-bottom: 1em;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 {
    font-size: 2em;
  }

  h1, h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid var(--md-border-subtle);
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: .875em;
  }

  h6 {
    font-size: .85em;
  }

  p {
    margin-top: 0;
    margin-bottom: .75rem;
  }
  /* TEXT FORMATTING */
  strong, b {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }
  /* IMAGES */
  img {
    max-width: 100%;
    border-style: none;
  }
  /* HORIZONTAL RULES */
  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid var(--md-border-subtle);
    overflow: visible;
  }
  /* LISTS */
  ul, ol {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: .75em;

    ol {
      list-style-type: lower-roman;
    }

    ul, ol {
      margin-top: 0;
      margin-bottom: 0;

      ol {
        list-style-type: lower-alpha;
      }
    }

    li {
      margin-top: .25em;
    }
  }
  /* TABLES */
  table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-bottom: .75em;

    th, td {
      padding: .3em .7em;
      border: 1px solid var(--md-border-subtle);
    }

    thead {
      tr {
        th {
          font-weight: 600;
        }
      }
    }

    tbody {
      tr {
        background: transparent;

        &:nth-child(2n) {
          background: var(--md-background-subtle);
        }

        td {
        }
      }
    }
  }
  /* BLOCKQUOTE */
  blockquote {
    padding: .5em 1em;
    background: var(--md-background-subtle);
    border-left: .25em solid var(--md-border-subtle);

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
  /* CODE */
  code, tt {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: .2em .4em;
    margin: 0;
    font-size: .9em !important;
    border-radius: 4px;
    background-color: var(--md-background-subtle);
  }

  pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;
    background: var(--md-background-subtle);
    border: 1px solid var(--md-border-subtle);
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;

    code, tt {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      background: transparent;
    }
  }

  kbd { }
  /* OTHER */
  details {
    display: block;
  }

  summary {
    display: list-item;
  }
}
