html {
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent1-medium) var(--accent1-x-dark);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--accent1-x-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent1-medium);
  border-radius: 5px;
}
