table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin-bottom: .75em;

  th, td {
    padding: .3em .7em;
    border: 1px solid var(--md-border-subtle);
  }

  thead {
    tr {
      th {
        font-weight: 600;
      }
    }
  }

  tbody {
    tr {
      background: transparent;

      &:nth-child(2n) {
        background: var(--md-background-subtle);
      }

      td {
      }
    }
  }
}
