@using System.Text.Encodings.Web
@using Soapbox.Identity.Shared

@model ConfirmEmail
@(Layout = "_Layout.cshtml")

<span>Please confirm your account by <a href="@HtmlEncoder.Default.Encode(Model.CallbackUrl)">clicking here</a>.</span>
