@using System.Text.Encodings.Web
@using Soapbox.Web.Account.Shared

@model ResetPassword
@{
  Layout = "_Layout.cshtml";
}

<span>Please reset your password by <a href="@HtmlEncoder.Default.Encode(Model.CallbackUrl)">clicking here</a>.</span>
