@using System.Text.Encodings.Web
@using Soapbox.Identity.EmailContent
@using Soapbox.Identity.Password.ForgotPassword
@using Soapbox.Identity.Password.ResetPassword

@model ResetPassword
@(Layout = "_Layout.cshtml")

<span>Please reset your password by <a href="@HtmlEncoder.Default.Encode(Model.CallbackUrl)">clicking here</a>.</span>
