<nav id="site-nav">
  <ul>
    <li><blog-link index>Blog</blog-link></li>
  </ul>
</nav>

<a asp-area="Admin" asp-controller="Posts" asp-action="Create" role="button" class="small" is-authorized>New Post</a>
