@{
  var statusMessage = (string)TempData["StatusMessage"];
  var errorMessage = (string)TempData["ErrorMessage"];
}

<section class="container centered" condition="!string.IsNullOrEmpty(errorMessage)">
  <p class="alert" role="alert"><i class="fa fa-info-circle"></i> @errorMessage</p>
</section>
<section class="container centered" condition="!string.IsNullOrEmpty(statusMessage)">
  <p class="alert" role="alert"><i class="fa fa-info-circle"></i> @statusMessage</p>
</section>
