@using Soapbox.Web.Error
@using Soapbox.Web.Error.GetErrorDetails
@model AccessDeniedErrorDetails
<dir class="container">
  <header>
    <h1>Access denied</h1>
    <p>You do not have access to this resource.</p>
  </header>
</dir>
