@model ErrorViewModel
@{
  var message = Model.Message ?? "An error occurred while processing your request.";
}

<dir class="container">
  <header>
    <h1>Error.</h1>
    <p>@message</p>
  </header>

  <p condition="Model.ShowRequestId">
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
  </p>
</dir>
