@model Post
@inject Soapbox.Core.Markdown.IMarkdownParser Parser
@{
  var isFullPost = string.IsNullOrWhiteSpace(Model.Excerpt);
  var content = !isFullPost ? Model.Excerpt : Model.Content;
}

<article class="post excerpt">
  <partial name="Partials/_PostHeader" model="Model"></partial>
  <section class="body">
    <div class="container markdown-content">
      @Html.Raw(Parser.ToHtml(content, out var _))
    </div>
  </section>
<partial name="Partials/_PostFooter" model="Model"></partial>
</article>
