@model Post

<article class="item">
  <header><blog-link post="Model" /></header>
  <section class="metadata"><time datetime="@Model.PublishedOn.ToString("s")">@Model.PublishedOn.ToString("MMM d, yyyy")</time></section>
</article>
