@model Post
@{
  var viewMode = (string)ViewData["ViewMode"];
  var isFullPost = string.IsNullOrWhiteSpace(Model.Excerpt);
}

<footer>
  <aside class="container">
    @if (!isFullPost && viewMode != "Full")
    {
      <div class="centered">
        <blog-link post="Model" class="button outline small">Read More</blog-link>
      </div>
    }
    <div class="share">
      <span class="subtle">Share:</span>
      <share to="Facebook" post="Model" title="Share on Facebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </share>
      <share to="Twitter" post="Model" title="Share on Twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </share>
      <share to="Email" post="Model" title="Email">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </share>
    </div>
  </aside>
</footer>
