@using Soapbox.Application
@using Soapbox.Application.Constants
@using Soapbox.Domain.Blog.Archive
@model PostArchive
@{
  var archiveTitle = Model.Month is null
    ? Model.Year.ToString()
    : new DateTime(Model.Year, Model.Month.Value, 1).ToString("MMMM yyyy");

  var archiveViewName = Model.Month is null ? "_ArchiveYear" : "_ArchiveMonth";

  ViewData[ViewConstants.PageTitle] = $"Archive: {archiveTitle}";
}

<div class="container content">
  <div class="years-navigation">
    @for (int year = Model.FirstYear; year <= DateTime.UtcNow.Year; year++)
    {
      <blog-link archive-year="@year">@year</blog-link>
    }
  </div>
    <partial name="@archiveViewName" model="Model" />
</div>
