@using Soapbox.Application
@model PostCategory
@{
  ViewData[Constants.PageTitle] = $"Category: {Model.Name}";
}

<div class="container content">
  <header>
    <h1>@ViewData[Constants.PageTitle] (@Model.Posts.Count)</h1>
  </header>

  <section>
    <div class="item-list">
      @if (Model.Posts.Count > 0)
      {
        foreach (var post in Model.Posts)
        {
          <div><time value="post.PublishedOn" format="yyyy-MM-dd" /> <edit-post-link post="post" /></div>
        }
      }
      else
      {
        <p>No posts found!</p>
      }
    </div>
  </section>
</div>
