@model Models.Account.ChangePasswordModel
@{
    ViewData[Constants.Title] = "Change Password";
}

<div class="container content">
  <div class="card">
    <header class="centered">
      <h1>@ViewData[Constants.Title]</h1>
    </header>

    <div class="separator"></div>

    <section>
      <form id="change-password" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="OldPassword"></label>
          @if (Model.HasPassword)
          {
            <input asp-for="OldPassword" />
          }
          else
          {
            <p>You do not have a local username/password for this site.</p>
          }
        </div>
        <div class="form-group">
          <label asp-for="NewPassword"></label>
          <input asp-for="NewPassword" />
        </div>
        <div class="form-group">
          <label asp-for="ConfirmPassword"></label>
          <input asp-for="ConfirmPassword" />
        </div>
      </form>
    </section>

    <div class="actions centered">
      <button form="change-password" type="submit" class="large">Change password</button>
      <a asp-area="" asp-controller="Account" asp-action="Index" class="button outline large">Back</a>
    </div>
  </div>
</div>
