@model Models.Account.DeleteModel
@{
    ViewData[Constants.Title] = "Delete Personal Data";
}

<h1>@ViewData[Constants.Title]</h1>

<div role="alert">
  <p>Deleting your account will destroy the account and the attached personal data. This action is permanent, and it cannot be reversed.</p>
</div>

<form method="post">
  <div asp-validation-summary="All"></div>
  @if (Model.RequirePassword)
  {
    <div class="form-group">
      <label asp-for="Input.Password"></label>
      <input asp-for="Input.Password" />
    </div>
  }
  <button type="submit">Delete data and close my account</button>
</form>
