@model Models.Account.Login2faModel
@{
  ViewData[Constants.Title] = "Two-factor authentication";
}

<h1>@ViewData[Constants.Title]</h1>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
  <input asp-for="RememberMe" type="hidden" />
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="Input.AuthenticatorCode"></label>
    <input asp-for="Input.AuthenticatorCode" class="form-control" autocomplete="off" />
    <span asp-validation-for="Input.AuthenticatorCode" class="text-danger"></span>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label asp-for="Input.RememberMachine">
        <input asp-for="Input.RememberMachine" />
        @Html.DisplayNameFor(m => m.Input.RememberMachine)
      </label>
    </div>
  </div>
  <button class="large" type="submit">Log in</button>
</form>
<p>
  Don't have access to your authenticator device? You can <a id="recovery-code-login" asp-controller="Account" asp-action="LoginRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
</p>
