@model Models.Account.RecoveryCodesModel

<div class="card centered">
@if (Model.RecoveryCodes == null || Model.RecoveryCodes.Length == 0)
{
  ViewData[Constants.Title] = "Generate recovery codes";

  <header>
    <h1>@ViewData[Constants.Title]</h1>
  </header>

  <div class="separator"></div>

  <section>
    <div class="alert alert-warning" role="alert">
      <p><i class="fa fa-warning" aria-hidden="true"></i><strong>Put these codes in a safe place.</strong></p>
    </div>
    <p>If you lose your device and don't have the recovery codes you will lose access to your account.</p>
    <p>Generating new recovery codes does not change the keys used in authenticator apps. To change the authenticator key, you should remove and re-add the authenticator.</p>
  </section>

  <div class="actions centered">
    <form method="post">
      <button type="submit" class="large">Generate Recovery Codes</button>
    </form>
  </div>
}
else
{
  ViewData[Constants.Title] = "Recovery codes";

  <header>
    <h1>@ViewData[Constants.Title]</h1>
  </header>

  <div class="separator"></div>

  <section>
    <div class="alert alert-warning" role="alert">
      <p><strong>Put these codes in a safe place.</strong></p>
    </div>
    <div>
      @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
      {
        <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code>
        <br />
      }
    </div>
    <p>If you lose your device and don't have the recovery codes you will lose access to your account.</p>
  </section>

  <div class="actions centered">
    <a asp-area="" asp-controller="Account" asp-action="Index" class="button large">OK</a>
  </div>
}
</div>
