@{
  ViewData[Constants.Title] = "Register confirmation";
}

<div class="container content">
  <header>
    <h1>@ViewData[Constants.Title]</h1>
  </header>
  <p>Please check your email to confirm your account.</p>
</div>
