@{
  ViewData[Constants.PageTitle] = "Confirm registration";
}

<div class="container content">
  <header>
    <h1>Confirm registration</h1>
  </header>
  <p>Please check your email to confirm your account.</p>
</div>
