@model Models.Account.ResetPasswordModel
<div class="container content">
  <div class="card">
    <header class="centered">
      <h1>Reset password</h1>
    </header>

    <div class="separator"></div>

    <section>
      <form id="reset-password" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
          <label asp-for="Email"></label>
          <input asp-for="Email" />
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Password"></label>
          <input asp-for="Password" />
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ConfirmPassword"></label>
          <input asp-for="ConfirmPassword" />
          <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
      </form>
    </section>

    <div class="actions centered">
      <button form="reset-password" type="submit" class="large">Reset</button>
    </div>
  </div>
</div>
