@model Models.Account.UpdatePasswordModel
@{
  ViewData["Title"] = "Change password";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="OldPassword"></label>
    <input asp-for="OldPassword" />
    <span asp-validation-for="OldPassword" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <div class="button-container">
    <button type="submit">Update password</button>
  </div>
</form>

