@model Models.Account.ChangePasswordModel
@{
    ViewData[Constants.Title] = "Change Password";
}

<h1>@ViewData[Constants.Title]</h1>
<form method="post">
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="form-group">
    <label asp-for="OldPassword"></label>
    @if (Model.HasPassword)
    {
        <input asp-for="OldPassword" />
    }
    else
    {
      <p>You do not have a local username/password for this site.</p>
    }
  </div>
  <div class="form-group">
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword" />
  </div>
  <div class="form-group">
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
  </div>
  <button type="submit">Update password</button>
</form>
