body {
  background: var(--background-color, #343a40);
  color: var(--text-color, #f8f9fa);
  transition: all 200ms ease;
  transition-property: background, color;
}

a {
  color: var(--text-color, #f8f9fa);
  text-decoration: none;
}

  a:hover {
    color: var(--hover-color, #f8f9fa);
    text-decoration: none;
  }

  a:focus {
    color: var(--focus-color, #f8f9fa);
    text-decoration: none;
  }


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f8f9fa;
    --background-color: #343a40;
    --hover-color: #c6c7c8;
    --hover-outline-color: #2a2e33;
    --focus-color: #959596;
    --focus-outline-color: #24292d;
    --active-color: #959596;
    --active-outline-color: #1f2326;
  }
}

.dark {
  --text-color: #f8f9fa;
  --background-color: #343a40;
  --hover-color: #c6c7c8;
  --hover-outline-color: #2a2e33;
  --focus-color: #959596;
  --focus-outline-color: #24292d;
  --active-color: #959596;
  --active-outline-color: #1f2326;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000;
    --background-color: #eee;
    --hover-color: #333333;
    --focus-color: #4d4d4d;
  }
}

.light {
  --text-color: #000;
  --background-color: #eee;
  --hover-color: #333333;
  --focus-color: #4d4d4d;
}
