.form-field
{
  margin-bottom: 8px;
}

  .form-field > label:first-child,
  .form-field > span:first-child {
    display: inline-block;
    width: 14em;
    vertical-align: top;
  }

input, textarea {
  width: 24em;
  padding: 0.25em;
  line-height: normal;
  border-radius: 0;
  border: none;
  background: none;
}

input, textarea {
  font: inherit;
  line-height: inherit;
  background: #222222;
  color: white;
}
