body > header {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1;

  border-right: 1px solid #fff;
}

body > main {
  margin-left: 300px;
  margin-right: auto;
  padding: 0 30px;
}

/* MENU */

#banner {
  display: block;
  padding: 20px;
  text-align: center;
}

#site-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  display: block;
  padding: 10px 20px;
}

  li > a:hover {
    color: var(--text-color);
    background: var(--hover-outline-color);
  }

  li > a:focus {
    color: var(--text-color);
    background: var(--focus-outline-color);
  }

  li > a.active {
    color: var(--text-color);
    background: var(--active-outline-color);
  }

/* OTHER */

h1 {
  display: inline-block;
}

header > button {
  margin: 0 1em;
  padding: 4px 8px;
}
