table {
  width: 100%;
  border: 1px solid #000;
  border-spacing: 0;
  font-size: .8rem;
}

th, td {
  text-align: left;
  padding: 4px 8px;
}

th {
  background: var(--hover-outline-color, #808080);
  border-bottom: 1px solid #000;
}

tr:nth-child(odd) td {
  background: var(--focus-outline-color, #404040);
}

tr:nth-child(even) td {
  background: var(--active-outline-color, #303030);
}
