/* MENU */

body > header {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1;
  border-right: 1px solid #fff;
}

#site-nav ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

#banner {
    display: block;
    padding: 20px;
}

body > main {
  margin-left: 300px;
  margin-right: auto;
  padding: 0 30px;
}


li > a {
  display: block;
  padding: 10px 20px;
}

  li > a:hover {
    background: red;
  }

  li > a.active {
    background: green;
  }

/* Other */

header {
}

h1 {
  display: inline-block;
}

header > button {
  margin: 0 1em;
  padding: 4px 8px;
}

table {
  width: 100%;
  border-radius: 4px;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  padding: 4px 8px;
}

th {
  background: var(--background-raised, #808080);
}

tr:nth-child(odd) td {
  background: var(--background-raised, #404040);
}

tr:nth-child(even) td {
  background: var(--background-raised, #303030);
}

tr:not(:last-child) > td {
  border-bottom: 1px solid #000;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid #000;
}
