/* RESET */
:root, *, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

/* CONTAINERS */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media(min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media(min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media(min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media(min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.content {
    padding: 15px 30px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* SCROLLBARS */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey-medium) var(--grey-light);
}

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--grey-light);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--grey-medium);
    border-radius: 5px;
  }

