@using Microsoft.AspNetCore.Identity
@inject SignInManager<Soapbox.Core.Identity.SoapboxUser> SignInManager
@inject UserManager<Soapbox.Core.Identity.SoapboxUser> UserManager
@inject IOptionsSnapshot<Soapbox.Web.Config.SiteSettings> settings

@if (SignInManager.IsSignedIn(User))
{
  <a asp-area="Admin" asp-controller="Site" asp-action="Dashboard">Admin</a>
  <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Pages", new { Area = "" })" method="post">
    <button type="submit">Logout</button>
  </form>
}
else
{
  if (settings.Value.AllowRegistration)
  {
    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
  }
  <a asp-area="Identity" asp-page="/Account/Login">Login</a>
}
