@using Soapbox.Application
@using Soapbox.Application.Constants
@model Soapbox.Application.Blog.Categories.CreateCategory.CreateCategoryRequest
@{
  ViewData[ViewConstants.PageTitle] = "Create category";
}

<div class="container content">
  <form method="post" autocomplete="off">
    <header>
      <h1>Create category</h1>
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group horizontal">
      <label asp-for="Category.Name"></label>
      <input asp-for="Category.Name" />
    </div>
    <div class="form-group horizontal">
      <div class="label">
        <label asp-for="Category.Slug"></label>
      </div>
      <div class="input-group">
        <input asp-for="Category.Slug" />
        <div class="input-addon">
          <input asp-for="GenerateSlugFromName" />
          <label asp-for="GenerateSlugFromName">Generate from name</label>
        </div>
      </div>
    </div>
    <div class="button-group">
      <button type="submit">Create</button>
    </div>
  </form>
</div>
