<style>
  #intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    height: 40vh;
    text-align: center;
  }
</style>
<div id="intro" class="container content">
  <div>
    <h1>Welcome to your soapbox <sup></sup></h1>
    <h3>/ˈsoʊp.bɑːks/</h3>
    <p>a rough wooden box or any raised, <del>temporary</del> surface for people to stand on while making informal public speeches</p>
  </div>
</div>
