@{
  ViewData["Title"] = "Welcome";
}
<style>
  #intro {
    display: flex;
    justify-content: center;
    background: rgba(255, 255,255,.05);
    align-items: center;
    min-height: 300px;
    height: 40vh;
    text-align: center;
  }
</style>
<section id="intro">
  <div class="container content">
    <h1>Welcome to your soapbox<sup></sup></h1>
    <h3>/ˈsəʊpbɒks/</h3>
    <p>a rough wooden box or any raised, <del>temporary</del> surface for people to stand on while making informal public speeches</p>
  </div>
</section>
<section class="container content">
  <partial name="~/Views/Blog/_Widget.cshtml" />
</section>
