@model Post
@inject Soapbox.Core.Markdown.IMarkdownParser Parser
@{
  var isFullPost = string.IsNullOrWhiteSpace(Model.Excerpt);
  var content = !isFullPost ? Model.Excerpt : Model.Content;
}

<article class="post excerpt">
  <partial name="_PostHeader" model="Model"></partial>
  <section class="body">
    <div class="container markdown-content">
      @Html.Raw(Parser.Parse(content))
    </div>
  </section>
<partial name="_PostFooter" model="Model"></partial>
</article>
