@model SoapboxUser
@{
  var name = !string.IsNullOrEmpty(Model.DisplayName) ? Model.DisplayName : Model.UserName;
  ViewData["Title"] = $"Author: {name}";
}

<div class="container content">
  <header>
    <h1>@name (@Model.Posts.Count)</h1>
  </header>

  <section>
    <div class="item-list">
      @if (Model.Posts.Count > 0)
        foreach (var post in Model.Posts)
        {
          <div>@post.PublishedOn.ToString("yyyy-MM-dd") <a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug">@post.Title</a></div>
        }
      }
      else {
        <p>No posts found!</p>
      }
    </div>
  </section>
</div>
