@model PostCategory
<div class="container content">
  <header>
    <h1>@Model.Name (@Model.Posts.Count)</h1>
  </header>

  <section>
    <div class="item-list">
      @if (Model.Posts.Count > 0)
      {
        foreach (var post in Model.Posts)
        {
          <div><time value="post.PublishedOn" format="yyyy-MM-dd" /> <blog-link post="post" /></div>
        }
      }
      else
      {
        <p>No posts found!</p>
      }
    </div>
  </section>
</div>
