@model PostCategory
@{
  ViewData["Title"] = $"Category: {Model.Name}";
}

<header>
  <div class="container">
    <h1>Category: @Model.Name</h1>
  </div>
</header>

<div class="container">
  <ul>
    @foreach (var post in Model.Posts)
    {
      <li>@post.PublishedOn.Value.ToString("yyyy-MM-dd") <a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug">@post.Title</a></li>
    }
  </ul>
</div>
