@model IPagedList<Post>
@{
  ViewData[Constants.PageTitle] = "Blog";

  var pageOlder = Model.Page + 1;
  var pageNewer = Model.Page - 1;
}

@if (Model.Items.Count > 0)
{
  @foreach (var post in Model.Items)
  {
    <partial name="Partials/_Excerpt" model="post" />
  }
}
else
{
  <div class="container content centered">
    <p>No posts found!</p>
  </div>
}

@if(Model.PageCount > 2){
  <div class="container padded centered">
      <blog-link page="pageOlder" condition="(Model.Page < Model.PageCount)">Older posts</blog-link>
      <span condition="(Model.Page < Model.PageCount && Model.Page > 1)"> | </span>
      <blog-link page="pageNewer" condition="(Model.Page > 1)">Newer posts</blog-link>
  </div>
}
