@model Post
@inject Soapbox.Core.Markdown.IMarkdownParser Parser
@{
  ViewData["ViewMode"] = "Full";
}

<article class="post">
  <partial name="_PostHeader" model="Model"></partial>
  <section class="body">
    <div class="container markdown-content">
      @Html.Raw(Parser.Parse(Model.Content))
    </div>
  </section>
  <partial name="_PostFooter" model="Model"></partial>
</article>
