@model Post
@inject Soapbox.Core.Markdown.IMarkdownParser Parser
@{
  ViewData["ViewMode"] = "Full";
}

<article class="post">
  <partial name="Partials/_PostHeader" model="Model"></partial>
  <section class="body">
    <div class="container markdown-content">
      @Html.Raw(Parser.ToHtml(Model.Content, out var _))
    </div>
  </section>
  <partial name="Partials/_PostFooter" model="Model"></partial>
</article>
