@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

hr {
  border-style: solid;
}

:root {
  --accent1-x-light: #ff33bb;
  --accent1-light: #ff00aa;
  --accent1-medium: #cc0088;
  --accent1-dark: #990066;
  --accent1-x-dark: #660044;
  --accent1-contrast: #ffffff;
  --accent2-x-light: #33bbff;
  --accent2-light: #00aaff;
  --accent2-medium: #0088cc;
  --accent2-dark: #006699;
  --accent2-x-dark: #002233;
  --accent2-contrast: #ffffff;
  --grey-medium: #999;
}

:root {
  --button-text-color: var(--accent1-contrast);
  --button-background-color: var(--accent1-medium);
  --button-hover-background-color: var(--accent1-dark);
  --button-active-background-color: var(--accent1-x-dark);
  --button-disabled-background-color: var(--grey-medium);
  --scrollbar-thumb-color: var(--accent1-medium);
  --scrollbar-track-color: var(--accent1-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181c20;
    --text-color: #f8f9fa;
    --background-raised-color: #101418;
    --text-subtle-color: #c6c7c8;
    --input-background: #282c2e;
    --input-color: #f8f9fa;
    --input-active-background: #363a3d;
    --input-disabled-background: #141617;
  }
}
body.dark {
  --background-color: #181c20;
  --text-color: #f8f9fa;
  --background-raised-color: #101418;
  --text-subtle-color: #c6c7c8;
  --input-background: #282c2e;
  --input-color: #f8f9fa;
  --input-active-background: #363a3d;
  --input-disabled-background: #141617;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f8f9fa;
    --text-color: #181c20;
    --background-raised-color: #f0f1f2;
    --text-subtle-color: #393837;
    --input-background: #e6e6e6;
    --input-color: #181c20;
    --input-active-background: #f0f0f0;
    --input-disabled-background: #cccccc;
  }
}
body.light {
  --background-color: #f8f9fa;
  --text-color: #181c20;
  --background-raised-color: #f0f1f2;
  --text-subtle-color: #393837;
  --input-background: #e6e6e6;
  --input-color: #181c20;
  --input-active-background: #f0f0f0;
  --input-disabled-background: #cccccc;
}

body {
  background: var(--background-raised-color);
  color: var(--text-color);
}

main {
  background: var(--background-color);
}

* {
  transition: all 200ms ease;
  transition-property: background, color;
}

*:focus {
  outline: 2px solid var(--accent1-medium);
}

input:focus, select:focus, textarea:focus, button:focus, a.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--accent1-medium);
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color, #666) var(--scrollbar-track-color, #000);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #000);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color, #666);
  border-radius: 5px;
}

:root, *, :before, :after {
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --spacing: 1rem;
}

:focus {
  outline: none;
}

body {
  line-height: 1.5;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}

main {
  overflow: auto;
}

/* HEADER + NAVIGATION */
#site-header {
  padding: 0.75rem 0;
  background-color: var(--background-raised-color);
}

#site-header > .container {
  display: grid;
  grid: auto auto/1fr auto;
  align-items: center;
}

#site-header h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#brand {
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  width: 75%;
}
#brand div {
  font-size: 0.9rem;
}

label[for=toggle-nav] {
  display: flex;
  margin-left: auto;
  font-size: 1.6em;
}
@media (min-width: 768px) {
  label[for=toggle-nav] {
    display: none;
  }
}

#toggle-nav:checked + * {
  display: flex;
}

#site-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  margin-left: unset;
}
@media (min-width: 768px) {
  #site-nav {
    display: flex;
    flex-direction: row;
  }
}
#site-nav + * {
  flex: 1;
  margin-left: 6px;
}

#site-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  gap: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  #site-nav ul {
    flex-direction: row;
  }
}

#site-nav a {
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
  border-bottom: 2px solid transparent;
}
#site-nav a:hover {
  border-color: var(--accent1-x-dark);
}
#site-nav a.active {
  border-color: var(--accent1-medium);
}

/* FOOTER */
#footer-nav {
  margin-bottom: 1em;
}

#footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-nav h3 {
  text-transform: uppercase;
}

#copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.8rem;
}

/* BOX */
.box {
  display: block;
  width: 100%;
  min-width: 340px;
  padding: 20px;
  background: var(--background-raised-color);
  border-radius: 4px;
  margin: 0 auto 20px;
}
.box > *:not(:last-child) {
  margin-bottom: 16px;
}
.box > header > h1 {
  margin: 0;
}
.box .actions > * + * {
  margin-top: 6px;
}

/* SEPARATOR */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--text-color);
}

.separator:not(:empty)::before {
  margin-right: 0.4em;
}

.separator:not(:empty)::after {
  margin-left: 0.4em;
}

/* DISCLAIMER */
.disclaimer {
  font-size: 12pt;
  text-align: justify;
  color: #222;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQoU2NkwAJqZ+80bk51PwuSYkSXR5bEUIAuiaIAmyRcAS5JsAJ8klgdiexokGYMX8AUwEwGAAj6Hg2ib/3lAAAAAElFTkSuQmCC) repeat;
}

header.has-actions {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}

.container.wide {
  max-width: initial;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0.95rem;
}
.content > *, .content > header > * {
  margin-top: 0;
}

.padded {
  padding-top: 12px;
  padding-bottom: 12px;
}

.centered {
  text-align: center;
}

.subtle, sup {
  font-size: 75%;
  color: var(--text-subtle-color);
}

.raised {
  background-color: var(--background-raised-color);
}

.columns {
  display: flex;
  gap: 12px;
}
.columns > * {
  flex: 1 1 0;
}

.relative {
  position: relative;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
figure figcaption {
  padding: calc(var(--spacing) * 0.5) 0;
  color: var(--muted-color);
}

a {
  color: var(--accent1-light, #f8f9fa);
  fill: var(--accent1-light, #f8f9fa);
  text-decoration: none;
  transition: all 150ms ease;
  transition-property: color;
}

a:hover {
  color: var(--accent1-medium, #f8f9fa);
  fill: var(--accent1-medium, #f8f9fa);
  text-decoration: none;
}

a:active {
  color: var(--accent1-dark, #f8f9fa);
  fill: var(--accent1-dark, #f8f9fa);
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
}

button,
input[type=submit],
input[type=button],
input[type=reset],
a[role=button] {
  display: inline-block;
  color: var(--button-text-color);
  font-weight: bold;
  background: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
a[role=button]:hover {
  background: var(--button-hover-background-color);
}
button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
a[role=button]:active {
  background: var(--button-active-background-color);
}
button[disabled],
input[type=submit][disabled],
input[type=button][disabled],
input[type=reset][disabled],
a[role=button][disabled] {
  background: var(--button-disabled-background-color);
  border-color: var(--button-disabled-background-color);
  cursor: default;
}
button.outline,
input[type=submit].outline,
input[type=button].outline,
input[type=reset].outline,
a[role=button].outline {
  background: transparent;
  color: currentColor;
}
button.outline:hover,
input[type=submit].outline:hover,
input[type=button].outline:hover,
input[type=reset].outline:hover,
a[role=button].outline:hover {
  border-color: var(--button-hover-background-color);
}
button.outline:active,
input[type=submit].outline:active,
input[type=button].outline:active,
input[type=reset].outline:active,
a[role=button].outline:active {
  border-color: var(--button-active-background-color);
}
button.outline[disabled],
input[type=submit].outline[disabled],
input[type=button].outline[disabled],
input[type=reset].outline[disabled],
a[role=button].outline[disabled] {
  border-color: var(--button-disabled-background-color);
  color: var(--button-disabled-text-color);
  cursor: default;
}
button.small,
input[type=submit].small,
input[type=button].small,
input[type=reset].small,
a[role=button].small {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}
button.large,
input[type=submit].large,
input[type=button].large,
input[type=reset].large,
a[role=button].large {
  width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group > label,
.form-group > .label {
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .horizontal-form .form-group,
  .form-group.horizontal {
    flex-direction: row;
  }
  .horizontal-form .form-group > label,
  .horizontal-form .form-group > .label,
  .form-group.horizontal > label,
  .form-group.horizontal > .label {
    min-width: 200px;
    width: 16.67%;
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: right;
  }
}
.form-group > .static-value,
.form-group > .input {
  padding: 0.5rem 0;
}

.form-group .input-addon {
  margin-left: 0.5rem;
  padding: 0.5rem 0;
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
}

textarea {
  resize: vertical;
}

.input-group > input,
.input-group > select,
.input-group > textarea {
  flex: 1;
}

.input-group-addon {
  background: var(--input-background);
  padding: 0.5rem 1rem;
  user-select: none;
}

.button-group {
  text-align: right;
}

input:not([type=checkbox]):not([type=radio]),
select,
textarea {
  background: var(--input-background);
  color: var(--input-color);
  font: inherit;
  line-height: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
}

input:not([type=checkbox]):not([type=radio]):focus,
select:focus textarea:focus {
  background: var(--input-active-background);
}

input:not([type=checkbox]):not([type=radio]):disabled,
select:disabled,
textarea:disabled,
input:not([type=checkbox]):not([type=radio])[readonly],
select[readonly],
textarea[readonly] {
  background: var(--input-disabled-background);
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.3em 0.7em;
  border: 1px solid var(--md-border-subtle);
}
table thead tr th {
  text-align: left;
  font-weight: 600;
}
table tbody tr {
  background: transparent;
}
table tbody tr:nth-child(2n) {
  background: var(--md-background-subtle);
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

.alerts > *:not(:first-child) {
  margin-top: 8px;
}

.alert {
  padding: 8px;
  text-align: center;
  background: var(--accent1-x-dark);
  border: 1px solid var(--accent1-light);
  border-radius: 0.25rem;
}
.alert > *:not(:first-child) {
  margin-top: 8px;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?f3kprg");
  src: url("/fonts/icomoon.eot?f3kprg#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?f3kprg") format("truetype"), url("/fonts/icomoon.woff?f3kprg") format("woff"), url("/fonts/icomoon.svg?f3kprg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yahoo:before {
  content: "\e900";
}

.icon-google:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e903";
}

.icon-github:before {
  content: "\e904";
}

.icon-microsoft:before {
  content: "\e905";
}

.pillbox {
  display: flex;
  white-space: nowrap;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.pill {
  display: inline-flex;
  margin: 0.3rem;
  overflow: hidden;
}
.pill > div {
  background: rgba(255, 255, 255, 0.1);
}
.pill > * {
  padding: 0.2rem 0.5rem;
  border-radius: 0;
}
.pill > *:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pill > *:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.post > header {
  background: var(--accent2-dark);
  color: var(--accent2-contrast);
}
.post > header .container {
  overflow: hidden;
  background: var(--accent2-medium);
  padding: 0 16px;
}
.post > header h1 {
  margin: 1rem auto;
  line-height: 1.3;
  font-size: 2.5em;
  font-weight: lighter;
}
.post > header h1 a {
  color: var(--accent2-contrast);
  text-decoration: none;
}
.post > header .meta-data {
  display: flex;
  background: var(--accent2-medium);
  font-size: 0.8rem;
}
.post > header .meta-data > * {
  padding: 4px 8px;
  background: var(--accent2-x-dark);
}
.post > header .meta-data > * + * {
  margin-left: 8px;
}
.post > header .quick-actions {
  position: absolute;
  background: var(--accent2-x-dark);
  padding: 6px 10px;
  top: 0;
  right: 16px;
}
.post > .body .container {
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid var(--background-raised-color);
  border-width: 0 2px;
}
.post > footer {
  clear: both;
}
.post > footer .container {
  background: var(--accent2-x-dark);
  color: var(--accent2-contrast);
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid var(--background-raised-color);
  border-width: 0 2px;
}
.post > footer .share {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post > footer .share a {
  font-size: 1.2rem;
}
.post > footer .share * + * {
  margin-left: 12px;
}
.post > footer .share > .subtle {
  color: #c6c7c8;
}

.post-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.post-card {
  overflow: hidden;
  border-radius: 4px;
  background: var(--background-raised-color);
}
.post-card .image {
  height: 180px;
  background-size: cover;
  background-position: center;
}
.post-card .card-content {
  padding: 16px;
}
.post-card h3 {
  margin: 0 0 10px;
  font-weight: normal;
  line-height: 1.15;
}
.post-card .meta-data {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.post-card .excerpt {
  margin: 16px 0;
}
.post-card .read-more {
  margin-bottom: 10px;
  text-align: right;
}

.tag-list .tag {
  display: inline-block;
}
.tag-list .tag + *.tag::before {
  display: inline-block;
  content: "|";
  margin: 0 6px;
}

.tag-cloud {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--text-subtle-color);
}
.tag-cloud .tag::before {
  display: inline-block;
  content: "•";
  margin: 0 6px;
}

.item-list {
  color: var(--text-subtle-color);
}

.years-navigation {
  text-align: center;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.calendar-navigation .title {
  flex-grow: 1;
  font-size: 1.2rem;
  text-align: center;
}

.calendar-view {
  table-layout: fixed;
}
.calendar-view td {
  height: 100px;
  vertical-align: top;
  padding-left: 0;
  padding-right: 0;
}
.calendar-view td.outside {
  color: var(--text-subtle-color);
  background: var(--background-raised-color);
}
.calendar-view td > * {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.calendar-view td > header.today {
  background: var(--accent1-medium);
  color: var(--accent1-contrast);
}
.calendar-view td > header > .month {
  opacity: 0.5;
}
.calendar-view td .entries {
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendar-view td .entries > a {
  white-space: nowrap;
}

div.editor-toolbar.fullscreen {
  background: var(--background-color);
}
div.editor-toolbar button {
  color: var(--text-color);
}
div.editor-toolbar button.active, div.editor-toolbar button:hover {
  background: var(--accent1-x-dark);
  color: var(--text-color);
}
div.editor-toolbar button + button {
  margin-left: 4px;
}

/*
    Headings: h1-h6
    Paragraphs: p
    Bold: strong
    Italic: em
    Block quotes: blockquote
    Lists: ul/ol, li
    Code block: pre
    Table: table, tr, td
    Images: img
    Horizontal rule: hr
    Links: a
    HTML: ???
*/
@media (prefers-color-scheme: dark) {
  .markdown-content {
    --markdown-font: inherit;
    --markdown-monospace-font: inherit;
    --md-color-subtle: hsla(220, 30%, 90%);
    --md-background-subtle: #191919;
    --md-border-subtle: hsla(220, 30%, 60%);
    --md-code-background: hsl(0, 0%, 12%);
    --md-code-border: hsl(0, 0%, 12%);
  }
}
body.dark .markdown-content {
  --markdown-font: inherit;
  --markdown-monospace-font: inherit;
  --md-color-subtle: hsla(220, 30%, 90%);
  --md-background-subtle: #191919;
  --md-border-subtle: hsla(220, 30%, 60%);
  --md-code-background: hsl(0, 0%, 12%);
  --md-code-border: hsl(0, 0%, 12%);
}

@media (prefers-color-scheme: light) {
  .markdown-content {
    --markdown-font: inherit;
    --markdown-monospace-font: inherit;
    --md-color-subtle: hsla(220, 30%, 90%);
    --md-background-subtle: #e6e6e6;
    --md-border-subtle: hsla(220, 30%, 60%);
    --md-code-background: hsl(0, 0%, 12%);
    --md-code-border: hsl(0, 0%, 12%);
  }
}
body.light .markdown-content {
  --markdown-font: inherit;
  --markdown-monospace-font: inherit;
  --md-color-subtle: hsla(220, 30%, 90%);
  --md-background-subtle: #e6e6e6;
  --md-border-subtle: hsla(220, 30%, 60%);
  --md-code-background: hsl(0, 0%, 12%);
  --md-code-border: hsl(0, 0%, 12%);
}

.markdown-content {
  /* DEFAULT VALUES */
  /* TEXT BLOCKS */
  /* TEXT FORMATTING */
  /* IMAGES */
  /* HORIZONTAL RULES */
  /* LISTS */
  /* TABLES */
  /* BLOCKQUOTE */
  /* CODE */
  /* OTHER */
}
.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6, .markdown-content p, .markdown-content hr,
.markdown-content table, .markdown-content ul, .markdown-content ol, .markdown-content blockquote, .markdown-content pre {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
.markdown-content > *:first-child {
  margin-top: 0;
}
.markdown-content > *:last-child {
  margin-bottom: 0;
}
.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  margin-top: 1.25em;
  margin-bottom: 1em;
  font-weight: 600;
  line-height: 1.25;
}
.markdown-content h1 {
  font-size: 2em;
}
.markdown-content h1, .markdown-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--md-border-subtle);
}
.markdown-content h2 {
  font-size: 1.5em;
}
.markdown-content h3 {
  font-size: 1.25em;
}
.markdown-content h4 {
  font-size: 1em;
}
.markdown-content h5 {
  font-size: 0.875em;
}
.markdown-content h6 {
  font-size: 0.85em;
}
.markdown-content p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.markdown-content strong, .markdown-content b {
  font-weight: 700;
}
.markdown-content em, .markdown-content i {
  font-style: italic;
}
.markdown-content del {
  text-decoration: line-through;
}
.markdown-content img {
  max-width: 100%;
  border-style: none;
}
.markdown-content hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid var(--md-border-subtle);
  overflow: visible;
}
.markdown-content ul, .markdown-content ol {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0.75em;
}
.markdown-content ul ol, .markdown-content ol ol {
  list-style-type: lower-roman;
}
.markdown-content ul ul, .markdown-content ul ol, .markdown-content ol ul, .markdown-content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-content ul ul ol, .markdown-content ul ol ol, .markdown-content ol ul ol, .markdown-content ol ol ol {
  list-style-type: lower-alpha;
}
.markdown-content ul li, .markdown-content ol li {
  margin-top: 0.25em;
}
.markdown-content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 0.75em;
}
.markdown-content table th, .markdown-content table td {
  padding: 0.3em 0.7em;
  border: 1px solid var(--md-border-subtle);
}
.markdown-content table thead tr th {
  font-weight: 600;
}
.markdown-content table tbody tr {
  background: transparent;
}
.markdown-content table tbody tr:nth-child(2n) {
  background: var(--md-background-subtle);
}
.markdown-content blockquote {
  padding: 0.5em 1em;
  background: var(--md-background-subtle);
  border-left: 0.25em solid var(--md-border-subtle);
}
.markdown-content blockquote > *:first-child {
  margin-top: 0;
}
.markdown-content blockquote > *:last-child {
  margin-bottom: 0;
}
.markdown-content code, .markdown-content tt {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 0.9em !important;
  border-radius: 4px;
  background-color: var(--md-background-subtle);
}
.markdown-content pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
  background: var(--md-background-subtle);
  border: 1px solid var(--md-border-subtle);
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.markdown-content pre code, .markdown-content pre tt {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.markdown-content details {
  display: block;
}
.markdown-content summary {
  display: list-item;
}

/*# sourceMappingURL=style.css.map */
