@using Soapbox.Application
@using Soapbox.Identity.Deletion.DeleteAccount
@model DeleteAccountRequest
@{
  ViewData[Constants.PageTitle] = "Delete account";
}

<div class="container content">
  <div class="box">
    <header class="centered">
      <h1>Delete account</h1>
    </header>

    <div class="separator"></div>

    <section>
      <div role="alert">
        <p>Deleting your account will destroy it and the attached personal data. This action is permanent, and cannot be reversed.</p>
      </div>

      <form id="delete" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group" condition="Model.RequirePassword">
          <label asp-for="Password"></label>
          <input asp-for="Password" />
        </div>
      </form>
    </section>

    <div class="actions centered">
      <button form="delete" type="submit" class="large">Delete data and close my account</button>
      <a asp-area="" asp-controller="Account" asp-action="Index" role="button" class="outline large">Back</a>
    </div>
  </div>
</div>
