@{
  ViewData[Constants.PageTitle] = "Disable 2FA";
}

<div class="container content">
  <div class="box">
    <header class="centered">
      <h1>Disable two-factor authentication (2FA)</h1>
    </header>

    <div class="separator"></div>

    <section>
      <div role="alert">
        <p><strong>This action only disables 2FA.</strong></p>
        <p>Disabling 2FA does not change the keys used in authenticator apps. To change the authenticator key, you should remove and re-add the authenticator.</p>
      </div>
    </section>

    <div class="actions centered">
      <form method="post">
        <button class="large" type="submit">Disable 2FA</button>
      </form>
      <a asp-area="" asp-controller="Account" asp-action="Index" role="button" class="outline large">Back</a>
    </div>
  </div>
</div>
