@using Soapbox.Application
@model Models.Account.ProfileModel
@{
  ViewData[Constants.PageTitle] = "Manage account";
}

<div class="container content">
  <header>
    <h1>Manage account</h1>
  </header>

  <partial name="Partials/_Profile" model="Model" />

  <partial name="Partials/_Security" />

  <partial name="Partials/_Account" />
</div>
