@using Soapbox.Application
@using Soapbox.Application.Constants
@{
  ViewData[ViewConstants.PageTitle] = "Locked out";
}

<div class="container content">
  <header>
    <h1 class="text-danger">Locked out</h1>
  </header>
  <p class="text-danger">This account has been locked out, please try again later.</p>
</div>
