@using Soapbox.Application
@model string[]
@{
  ViewData[Constants.PageTitle] = "Recovery codes";
}

<div class="container content">
  <div class="box">
  @if (Model is null || Model.Length == 0)
  {
    <header>
      <h1>Generate recovery codes</h1>
    </header>

    <div class="separator"></div>

    <section>
      <div class="alert alert-warning" role="alert">
        <p><i class="fa fa-warning" aria-hidden="true"></i><strong>Put these codes in a safe place.</strong></p>
      </div>
      <p>If you lose your device and don't have the recovery codes you will lose access to your account.</p>
      <p>Generating new recovery codes does not change the keys used in authenticator apps. To change the authenticator key, you should remove and re-add the authenticator.</p>
    </section>

    <div class="actions centered">
      <form method="post">
        <button type="submit" class="large">Generate Recovery Codes</button>
      </form>
    </div>
  }
  else
  {
    <header>
      <h1>Recovery codes</h1>
    </header>

    <div class="separator"></div>

    <section>
      <div class="alert alert-warning" role="alert">
        <p><strong>Put these codes in a safe place.</strong></p>
      </div>
      <div>
        @for (var row = 0; row < Model.Length; row += 2)
        {
          <code class="recovery-code">@Model[row]</code><text>&nbsp;</text><code class="recovery-code">@Model[row + 1]</code>
          <br />
        }
      </div>
      <p>If you lose your device and don't have the recovery codes you will lose access to your account.</p>
    </section>

    <div class="actions centered">
      <a asp-area="" asp-controller="Account" asp-action="Index" role="button" class="large">OK</a>
    </div>
  }
  </div>
</div>
