@using Soapbox.Application
@using Soapbox.Application.Constants
@{
  ViewData[ViewConstants.PageTitle] = "Remove authenticator";
}

<div class="container content">
  <div class="box">
    <header class="centered">
      <h1>Remove authenticator key</h1>
    </header>

    <div class="separator"></div>

    <section>
      <div class="alert alert-warning" role="alert">
        <p>
          <i class="fa fa-warning" aria-hidden="true"></i>
          <strong>If you remove your authenticator key your authenticator app will not work until you reconfigure it.</strong>
        </p>
        <p>This process disables 2FA until you verify your authenticator app. If you do not complete your authenticator app configuration you may lose access to your account.</p>
      </div>
    </section>

    <div class="actions centered">
      <form method="post">
        <button type="submit" class="large">Reset authenticator key</button>
      </form>
    </div>
  </div>
</div>
