@model Models.Blog.RecentPostsWidgetModel
@inject DataAccess.Abstractions.IBlogService BlogService
@{
  var model = Model ?? new Models.Blog.RecentPostsWidgetModel();
  var page = await BlogService.GetPostsPageAsync(1, model.PostCount);
}

<article class="widget">
  <header>
    <h2>Blog: Latest</h2>
  </header>
  <section class="item-feed">
    @foreach (var post in page.Items)
    {
      <article class="item">
        <header>
          <blog-link post="post" />
          <i class="fa fa-thumb-tack" aria-hidden="true" condition="post.IsPinned"></i>
        </header>
        <section class="metadata"><time value="post.PublishedOn" /></section>
      </article>
    }
  </section>
</article>
