@inject SignInManager<Soapbox.Core.Identity.SoapboxUser> SignInManager
@{
  var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
  #manage-nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #manage-nav li > a {
    display: block;
  }
</style>

<nav id="manage-nav">
  <ul>
    <li><a id="profile" asp-page="/Account/Manage/Index" is-active-page>Profile</a></li>
    <li><a id="email" asp-page="./Email">Email</a></li>
    <li><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
      <li id="external-logins"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li><a id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li><a id="personal-data" asp-page="./PersonalData">Personal data</a></li>
  </ul>
</nav>
