@page
@model ChangePasswordModel
@{
  ViewData["Title"] = "Change password";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<form method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="Input.OldPassword"></label>
    <input asp-for="Input.OldPassword" />
    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Input.NewPassword"></label>
    <input asp-for="Input.NewPassword" />
    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Input.ConfirmPassword"></label>
    <input asp-for="Input.ConfirmPassword" />
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
  </div>
  <div class="button-container">
    <button type="submit">Update password</button>
  </div>
</form>

