@page
@model DeletePersonalDataModel
@{
  ViewData["Title"] = "Delete Personal Data";
}

<h1>@ViewData["Title"]</h1>

<div role="alert">
  <p><strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong></p>
</div>

<form id="delete-user" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  @if (Model.RequirePassword)
  {
    <div class="form-group">
      <label asp-for="Input.Password"></label>
      <input asp-for="Input.Password" />
      <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
  }
  <div class="button-container">
    <button type="submit">Delete data and close my account</button>
  </div>
</form>
