@using Soapbox.Application
@using Soapbox.Application.Constants
@model Soapbox.Application.Blog.Posts.Create.CreatePostRequest
@{
    ViewData[ViewConstants.PageTitle] = "Create post";
    var categories = (List<PostCategory>?)ViewData["Categories"] ?? [];
}

<style>
  .editor {
    min-height: 350px;
  }

  .input-container {
    width: 100%;
  }
</style>

<div class="container content">
  <header>
    <h1>Create post</h1>
  </header>
  <form method="post" autocomplete="off">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group horizontal">
      <label asp-for="Post.Title"></label>
      <input asp-for="Post.Title" />
    </div>
    <div class="form-group horizontal">
      <label asp-for="Post.Slug"></label>
      <div class="input-group">
        <input asp-for="Post.Slug" />
        <div class="input-addon">
          <input asp-for="UpdateSlugFromTitle" />
          <label asp-for="UpdateSlugFromTitle"></label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label>Categories</label>
      <div class="input-container">
        <div class="pillbox" condition="categories.Any()">
          @foreach (var category in categories)
          {
            <div class="pill">
              <label>
                <input name="@nameof(Model.SelectedCategories)" value="@category.Name" type="checkbox" checked="@(Model.SelectedCategories.Contains(category.Name))" />
                <span>@category.Name</span>
              </label>
            </div>
          }
        </div>
        <div class="input-group">
          <input asp-for="NewCategory" />
          <button type="submit" name="action" value="AddCategory"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Post.ModifiedOn"></label>
      <div class="input-group">
        <input asp-for="Post.ModifiedOn" readonly />
        <div class="input-addon">
          <input asp-for="UpdateModifiedOn" />
          <label asp-for="UpdateModifiedOn"></label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Post.PublishedOn"></label>
      <div class="input-group">
        <input asp-for="Post.PublishedOn" />
        <div class="input-addon">
          <input asp-for="UpdatePublishedOn" />
          <label asp-for="UpdatePublishedOn"></label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Post.Status"></label>
      <select asp-for="Post.Status" asp-items="Html.GetEnumSelectList<PostStatus>()"></select>
    </div>
    <div class="form-group">
      <label asp-for="Post.Excerpt"></label>
      <textarea asp-for="Post.Excerpt"></textarea>
    </div>
    <div class="form-group">
      <label asp-for="Post.Content"></label>
      <textarea asp-for="Post.Content" class="editor"></textarea>
    </div>
    <div class="button-group">
      <button type="submit">Create</button>
    </div>
  </form>
</div>

@section StyleSheets {
  <link rel="stylesheet" href="~/lib/easymde/dist/easymde.min.css" asp-append-version="true">
}

@section Scripts {
  <script src="~/lib/easymde/dist/easymde.min.js" asp-append-version="true"></script>
  <script>
    var easymde = new EasyMDE({ element: document.getElementById("Post_Content"), autoDownloadFontAwesome: false });
  </script>
}
