@model Soapbox.Web.Areas.Admin.Models.Posts.PostViewModel
@{
  ViewData[Constants.PageTitle] = "Edit post";
}

<style>
  .editor {
    min-height: 350px;
  }

  .input-container {
    width: 100%;
  }
</style>

<div class="container content">
  <form method="post" autocomplete="off">
    <header>
      <h1>Edit post</h1>
    </header>
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group horizontal">
      <label asp-for="Title"></label>
      <input asp-for="Title" />
    </div>
    <div class="form-group horizontal">
      <label asp-for="Slug"></label>
      <div class="input-group">
        <input asp-for="Slug" />
        <div class="input-addon">
          <input asp-for="UpdateSlugFromTitle" />
          <label asp-for="UpdateSlugFromTitle"></label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Categories"></label>
      <div class="input-container">
        @if (Model.AllCategories.Any()) {
        <div class="pillbox">
          @for (int i = 0; i < Model.AllCategories.Count; i++)
          {
            <div class="pill">
              <span>
                <input asp-for="AllCategories[i].Id" type="hidden" />
                <input asp-for="AllCategories[i].Name" type="hidden" />
                <input asp-for="AllCategories[i].Selected" type="checkbox" />
              </span>
              <span><label asp-for="AllCategories[i].Selected">@Model.AllCategories[i].Name</label></span>
            </div>
          }
        </div>
        }
        <div class="input-group">
          <input asp-for="NewCategory" />
          <button type="submit" name="action" value="AddCategory"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="ModifiedOn"></label>
      <div class="input-group">
        <input asp-for="ModifiedOn" readonly />
        <div class="input-addon">
          <input asp-for="UpdateModifiedOn" />
          <label asp-for="UpdateModifiedOn"></label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="PublishedOn"></label>
      <div class="input-group">
        <input asp-for="PublishedOn" />
        <div class="input-addon">
          <input asp-for="UpdatePublishedOn" />
          <label asp-for="UpdatePublishedOn"></label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Status"></label>
      <select asp-for="Status" asp-items="Html.GetEnumSelectList<PostStatus>()"></select>
    </div>
    <div class="form-group">
      <label asp-for="Excerpt"></label>
      <textarea asp-for="Excerpt"></textarea>
    </div>
    <div class="form-group">
      <label asp-for="Content"></label>
      <textarea asp-for="Content" class="editor"></textarea>
    </div>
    <div class="button-group">
      <button type="submit">Update</button>
    </div>
  </form>
</div>

@section StyleSheets {
  <link rel="stylesheet" href="~/lib/easymde/dist/easymde.min.css" asp-append-version="true">
}

@section Scripts {
  <script src="~/lib/easymde/dist/easymde.min.js" asp-append-version="true"></script>
  <script>
    var easymde = new EasyMDE({ element: document.getElementById("Content"), autoDownloadFontAwesome: false });
  </script>
}
