@using Microsoft.AspNetCore.Identity
@inject SignInManager<SoapboxUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
  <li>
    <a asp-area="Admin" asp-controller="Site" asp-action="Index">Admin panel</a>
  </li>
  <li>
    <a asp-area="" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>
    <span>|</span>
    <form id="logout" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Pages", new { Area = "" })" method="post" style="display: none;"></form>
    <a asp-area="" asp-controller="Account" asp-action="Logout" submit-form="logout">Sign out</a>
  </li>
}
else
{
  <li><a asp-area="" asp-controller="Account" asp-action="Login">Sign in</a></li>
}
