<nav id="site-nav">
  <ul>
    <li><a asp-area="Admin" asp-controller="Posts" asp-action="Index" is-active-route="Controller">Posts</a></li>
    <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index" is-active-route="Controller">Categories</a></li>
    <li><a asp-area="Admin" asp-controller="Users" asp-action="Index" is-active-route="Controller">Users</a></li>
    <li><a asp-area="Admin" asp-controller="Site" asp-action="Settings" is-active-route="Action">Settings</a></li>
  </ul>
</nav>
