@page
@model ForgotPasswordModel
@{
  ViewData["Title"] = "Forgot your password?";
}

<style>
  .card {
    display: block;
    width: 400px;
    padding: 20px;
    background: rgba(255,255,255, .1);
    border-radius: 4px;
    margin: 0 auto 20px;
  }

    .card > *:not(:last-child) {
      margin-bottom: 16px;
    }

  .centered {
    text-align: center;
  }

  .subtle {
    font-size: .8rem;
  }

  .card > header > h1 {
    margin: 0;
  }

  form .form-field {
    margin-bottom: 12px;
  }

  form input[type="text"], #login input[type="password"], form input[type="email"] {
    display: block;
    width: 100%;
    padding: 8px 12px;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
  }

  form button {
    width: 80%;
    padding: 8px 12px;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
  }
</style>

<div class="container content">
  <div class="card">
    <header class="centered">
      <h1>@ViewData["Title"]</h1>
    </header>

    <section>
      <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-field">
          <input asp-for="Input.Email" />
          <span asp-validation-for="Input.Email"></span>
        </div>
        <div id="submit" class="centered">
          <button type="submit">Submit</button>
        </div>
      </form>
    </section>
  </div>
</div>
