@model Post
@{
  ViewData[Constants.Title] = "Create new post";
}

<style>
  .editor {
    min-height: 350px;
  }
</style>

<div class="container content">
  <form method="post">
    <header>
      <h2>Create Post</h2>
    </header>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group horizontal">
      <label asp-for="Title"></label>
      <input asp-for="Title" />
    </div>
    <div class="form-group horizontal">
      <label asp-for="Slug"></label>
      <input asp-for="Slug" />
    </div>
    <div class="form-group horizontal">
      <label asp-for="Status"></label>
      <select asp-for="Status" asp-items="Html.GetEnumSelectList<PostStatus>()"></select>
    </div>
    <div class="form-group horizontal">
      <label asp-for="PublishedOn"></label>
      <input asp-for="PublishedOn" value="@DateTime.UtcNow" />
    </div>
    <div class="form-group">
      <label asp-for="Excerpt"></label>
      <textarea asp-for="Excerpt"></textarea>
    </div>
    <div class="form-group">
      <label asp-for="Content"></label>
      <textarea asp-for="Content" class="editor"></textarea>
    </div>
    <button type="submit">Save</button>
  </form>
</div>
